# This is Git's per-user configuration file.
[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1
[user]
	name = Zach White
	email = skullydazed@gmail.com
[push]
	default = current
[init]
	defaultBranch = main
[rerere]
        autoupdate = true
        enabled = true
