# This is Git's per-user configuration file.
[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1
[user]
	name = Zach White
	email = skullydazed@gmail.com
[push]
	default = current
[init]
	defaultBranch = main
[rerere]
        autoupdate = true
        enabled = true
[alias]
	branchpoint = !zsh -c 'diff -u <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | sed -ne \"s/^ //p\" | head -1' -
	remotes = "!f() { for remote in \"$(git remote)\"; do echo \"$remote\": \"$(git remote get-url $remote)\"; done; }; f"
[pull]
	ff = only
